@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

//Variables
$grey:#515151;
$green:#babd30;
$blue:#153357;
$white:#fff;
$black:#000;


.alert {
    padding: 5px 10px;
}

ul {
    margin:0;
    padding:0;

    li {
    	list-style-type: none;
    }
}

* {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	transition:all 0.2s ease;
}

h1,h2,h3,h4,h5,h6,p {
	margin:0;
	padding:0;
}

.btn:focus {
	box-shadow:none;
	outline: none;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
}

#top {
	padding:20px 0;
	background-color: $blue;
	margin-bottom: 30px;

	.logo {
		max-width: 220px;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}
	}
}

#body {

	.zoom {
		width: 210px;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 30px;
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 33px;
		color:$grey;
		line-height: 35px;

		span {
			font-weight: 800;
			font-size: 44px;
			color:$green;
		}
	}

	.owl-carousel {
		
		.img {
			height: 170px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	#form {
		background-color: #ececec;
		padding:30px;

		label {
			color:$blue;
			font-weight: 700;
			font-size: 15px;
		}

		.form-control {
			border-radius:0;

			&.error {
				border-color:red;
			}
		}

		.btn-send {
			background-color: $green;
			border-radius:0;
			color:$white;
			text-transform: uppercase;
			font-weight: 700;

			&:hover {
				background-color: #898c1c;
			}
		}
	}
}

#footer {
	margin-top: 20px;
	padding:20px 0;
	background-color: $blue;

	p {
		color:$white;
	}
}