@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;700;800&display=swap);.alert {
  padding: 5px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

#top {
  padding: 20px 0;
  background-color: #153357;
  margin-bottom: 30px;
}

#top .logo {
  max-width: 220px;
  cursor: pointer;
}

#top .logo:hover {
  opacity: 0.8;
}

#body .zoom {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

#body h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 33px;
  color: #515151;
  line-height: 35px;
}

#body h1 span {
  font-weight: 800;
  font-size: 44px;
  color: #babd30;
}

#body .owl-carousel .img {
  height: 170px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#body #form {
  background-color: #ececec;
  padding: 30px;
}

#body #form label {
  color: #153357;
  font-weight: 700;
  font-size: 15px;
}

#body #form .form-control {
  border-radius: 0;
}

#body #form .form-control.error {
  border-color: red;
}

#body #form .btn-send {
  background-color: #babd30;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

#body #form .btn-send:hover {
  background-color: #898c1c;
}

#footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #153357;
}

#footer p {
  color: #fff;
}

